﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model QuoteAppTask.Models.QuoteViewModel


    <h4 class="text-center my-4">Add Favourite Quotes</h4>
    <div class="form-div">
        <form asp-action="AddQuotes" method="post">
            <div class="form-group">
                <label asp-for="Quote"></label>
                <textarea cols="2" rows="5" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Author"></label>
                <inpt type="text" class="form-control" placeholder="Enter Author" />
            </div>
            <input type="submit" value="Add Quote" class="btn btn-info" /> 
        </form>
    </div>