﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bezao Popular Quotes</h1>
    <p class="lead">Share quotes with friends and have fun!</p>
    <div class="quote-div">
        <img src="/img/share.png" class="img-fluid" />
        <div>
            <blockquote class="blockquote text-center">
                <p class="mb-0">" Sorry sir "</p>
                <footer class="blockquote-footer">Pope Francis <cite title="Source Title"> 2021</cite></footer>
            </blockquote>
            <a asp-action="AddQuotes" class="btn btn-lg btn-info">Submit a Quote</a>
        </div>
    </div>
</div>
