﻿body {
}
.form-div{
    box-shadow: 0 0 12px #514f4f;
    margin: 40px auto;
    padding:2rem;
    width: 34rem;
    border-radius: 15px;
}
.quote-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    place-items:center;
}
.quote-div img{
    max-width: 70% !important;
}
